#heading{
  font-family: 'Cinzel', serif;
  text-shadow: -1px -2px 3px black;
}


#leftmenu{
  background-color: #FFE53B;
background-image: linear-gradient(90deg, #ffce3b 0%, #ff9625 74%);

  font-family: 'Amaranth', sans-serif;
  
}
#cross{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#rightmenu{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#bottomcard{
  
  box-shadow: 0px 0px 4px white;
}

#rightside:hover #rightmenu{

  display: block;


}
#title{
  /* font-family: 'Noto Serif', serif; */
  /* text-shadow: 0px 0px 1px rgb(20, 20, 20); */
  /* box-shadow: inset 0px 0px 5px black; */
  font-family: 'Acme', sans-serif;
  
}

#card{
  box-shadow:0px 0px 3px black;
  
}
#card:hover{
  box-shadow: 0px 0px 8px black;

}

#genre{
  font-family: 'Space Grotesk', sans-serif;
  text-shadow: inset 0px 0px 1px black;
}

#rating{
  box-shadow: inset 0px 0px 3px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #navbar{
  background-color: rgb(240, 187, 12);

} */
#genreNavbar{
  background-color:black;
 
}
 
 #homepage div {
  font-family: 'Acme', sans-serif;

   
 }
 #searchbar{
  box-sizing: border-box;
  box-shadow: 0px 0px 7px white;
 }


#moviestype{
  font-family: 'Acme', sans-serif;
  color: white;
}
/* #arrimg:active {
  content: "\f107";
} */

#infotitle{
  font-family: 'Cardo', serif;
  font-weight: 500;
  text-shadow: 0px 0px 1px white;
  
}
#infosummary{
  font-family: 'Balsamiq Sans', cursive;
}
#infoprod{
  font-family: 'Secular One', sans-serif;
}
